* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  
  .MuiTextField-root {
    margin-bottom: 8px;
  }
}